.chat {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid rgb(241, 240, 240);
}

.chat__headerinfoleft {
  flex: 1;
  padding-left: 15px;
}

.chat__headerinfoleft > p {
  color: gray;
}

.chat__header__inforight {
  display: flex;
  align-items: center;
  min-width: 80px;
}

.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png") !important;
  background-repeat: repeat;
  padding: 25px;
  overflow-y: scroll;
  background-position: center;
}

.chat__message {
  position: relative;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(243, 240, 240);
  border-radius: 15px;
  width: fit-content;
  margin-top: 25px;
}

.chat__username {
  position: absolute;
  top: -15px;
  font-weight: bold;
  font-size: xx-small;
}

.chat__messagetimestamp {
  margin-left: 10px;
  font-weight: bold;
  font-size: xx-small;
  color: gray;
}

.chat__messagerecierver {
  margin-left: auto;
  background-color: #c5ff99;
}

/* last div */
.chat__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border-top: 1px solid rgb(223, 222, 222);
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 50px;
  padding: 15px;
  border: none;
  width: 90%;
}

.chat__footer > form > button {
  border: none;
  background-color: #00bfa5;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.chat__footer > form > input:focus {
  outline-width: 0;
}
.chat__footer > form > button:focus {
  outline-width: 0;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}